# Provenance
# xCloud Public API (Beta), OpenAPI 3.0.3, info.version 1.0.0.
# Retrieved 2026-08-05 from the published Scalar reference at
# https://app.xcloud.host/api/v1/docs, where the document is inlined in the page.
# Vendor-owned contract, committed verbatim so Sandbox work reads a checked-in
# schema instead of probing the live API. Re-retrieve rather than hand-edit.
openapi: 3.0.3

info:
  title: xCloud Public API
  version: 1.0.0
  description: |
    ## xCloud Public API

    A self-service REST API for all xCloud customers. Use this API to programmatically
    manage your servers, sites, databases, backups, cron jobs, and more — directly from
    your own scripts, CI/CD pipelines, or integrations.

    ---

    ## Authentication

    All API requests (except `GET /health`) require a **Sanctum Personal Access Token**
    passed as a Bearer token in the `Authorization` header.

    ### Creating a Token

    1. Log in to [app.xcloud.host](https://app.xcloud.host)
    2. Navigate to **Account → API Tokens** (`/user/api-tokens`)
    3. Click **Create New Token**
    4. Select the required scopes for your use case
    5. Copy the token — **it is shown only once**

    ### Available Scopes

    | Scope | Access |
    |-------|--------|
    | `read:servers` | List and view servers, databases, cron jobs, PHP versions, monitoring, sudo users |
    | `write:servers` | Reboot servers, create WordPress sites, manage sudo users |
    | `read:sites` | List and view sites, backups, SSL, domain, git, deployment logs, SSH config |
    | `write:sites` | Trigger backups, rescue sites, purge cache, update SSH/SFTP config |
    | `*` | Full access to all endpoints |

    ### Required Headers

    ```http
    Authorization: Bearer <your-token>
    Accept: application/json
    Content-Type: application/json
    ```

    ---

    ## Response Format

    All responses follow a consistent envelope:

    ```json
    {
      "success": true,
      "message": "Operation completed successfully.",
      "data": { ... }
    }
    ```

    For paginated lists, `data` contains:

    ```json
    {
      "data": [ ... ],
      "meta": {
        "current_page": 1,
        "last_page": 5,
        "per_page": 15,
        "total": 72
      }
    }
    ```

    ---

    ## HTTP Status Codes

    | Code | Meaning |
    |------|---------|
    | `200 OK` | Request successful |
    | `202 Accepted` | Async operation queued (e.g. reboot, backup) |
    | `400 Bad Request` | Validation error — check `errors` in response body |
    | `401 Unauthorized` | Missing or invalid token |
    | `403 Forbidden` | Token lacks the required scope |
    | `404 Not Found` | Resource not found or not accessible to your team |
    | `422 Unprocessable Entity` | Business logic validation failure |
    | `429 Too Many Requests` | Rate limit exceeded |
    | `500 Internal Server Error` | Server error — contact support |

    ---

    ## Rate Limits

    | Type | Limit |
    |------|-------|
    | Authenticated requests | **60 requests / minute** |
    | Unauthenticated requests | **10 requests / minute** |

    Rate limit headers are included in every response:

    ```http
    X-RateLimit-Limit: 60
    X-RateLimit-Remaining: 58
    X-RateLimit-Reset: 1710000060
    ```

    When you exceed the limit, the API returns `429 Too Many Requests` with a
    `Retry-After` header indicating how many seconds to wait.

  contact:
    name: xCloud Support
    url: https://xcloud.host/support
  license:
    name: Proprietary
    url: https://xcloud.host/terms

servers:
  - url: https://app.xcloud.host/api/v1
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Health
    description: API health check — no authentication required.
  - name: User
    description: >
      Current authenticated user information and API token management.
  - name: Integrations
    description: >
      Third-party integrations connected to the current team (Cloudflare, etc.).
      Requires the `read:servers` scope.
  - name: Servers
    description: >
      List and inspect managed servers. Read-only operations require the
      `read:servers` scope. Write operations (reboot, site creation) require
      `write:servers`.
  - name: Blueprints
    description: >
      WordPress site blueprints — predefined configurations of themes, plugins,
      and post-deployment scripts. Use blueprints when creating WordPress sites.
      Requires the `read:servers` scope.
  - name: Sites
    description: >
      List and inspect sites across all servers. Read-only operations require
      the `read:sites` scope. Write operations (backup, cache purge) require
      `write:sites`.
  - name: Vulnerabilities
    description: >
      Security vulnerability inventory merged from Patchstack (premium scanner)
      and Wordfence (built-in scanner). Per-site and team-wide rollup. Ignored
      entries are excluded by default. Requires the `read:sites` scope.
  - name: PageSpeed
    description: >
      PageSpeed Insights performance data per site, including Core Web Vitals
      (LCP, CLS, INP, FCP) and Lighthouse scores. Latest snapshot plus paginated
      history. Requires the `read:sites` scope.
  - name: WordPress Actions
    description: >
      Asynchronous WordPress write operations — update plugins/themes/core, with
      optional pre-update backup. Returns a 202 with an operation UUID for
      polling. Requires the `write:sites` scope and the `site:manage-update`
      team permission.
paths:

  # ---------------------------------------------------------------------------
  # Health
  # ---------------------------------------------------------------------------

  /health:
    get:
      tags: [Health]
      summary: API Health Check
      description: >
        Returns the current health status of the API. No authentication required.
        Use this endpoint to verify connectivity before making authenticated requests.
      operationId: health.check
      security: []
      responses:
        "200":
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  version:
                    type: string
                    example: v1
              example:
                status: ok
                version: v1

  # ---------------------------------------------------------------------------
  # User
  # ---------------------------------------------------------------------------

  /user:
    get:
      tags: [User]
      summary: Get Current User
      description: Returns profile information for the currently authenticated user.
      operationId: user.show
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/User"
              example:
                success: true
                message: User retrieved successfully.
                data:
                  id: 1234
                  name: Jane Smith
                  email: jane@example.com
                  current_team_id: 5678
                  created_at: "2024-01-15T10:30:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /user/tokens:
    get:
      tags: [User]
      summary: List API Tokens
      description: >
        Lists all personal access tokens belonging to the current user.
        Requires the `*` scope.
      operationId: user.tokens.index
      security:
        - bearerAuth: []
      responses:
        "200":
          description: List of API tokens
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ApiToken"
              example:
                success: true
                message: Tokens retrieved successfully.
                data:
                  - uuid: "8c1f3a89-2c4e-4a73-9d4c-8b1f2a3d4e5f"
                    name: My CI Token
                    abilities: ["read:servers", "read:sites"]
                    team_uuid: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    team_name: Acme
                    last_used_at: "2025-03-10T08:22:00Z"
                    created_at: "2025-01-20T14:00:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /user/tokens/{tokenUuid}:
    delete:
      tags: [User]
      summary: Revoke API Token
      description: >
        Permanently revokes the specified API token (addressed by UUID). This
        action cannot be undone. Requires the `*` scope.
      operationId: user.tokens.revoke
      security:
        - bearerAuth: []
      parameters:
        - name: tokenUuid
          in: path
          required: true
          description: UUID of the token to revoke
          schema:
            type: string
            format: uuid
            example: "8c1f3a89-2c4e-4a73-9d4c-8b1f2a3d4e5f"
      responses:
        "200":
          description: Token revoked successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
              example:
                success: true
                message: Token revoked successfully.
                data: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /integrations/cloudflare:
    get:
      tags: [Integrations]
      summary: List Cloudflare Integrations
      description: >
        Returns all Cloudflare accounts connected to the current team.
        Requires the `read:servers` scope.
      operationId: integrations.cloudflare.index
      security:
        - bearerAuth: []
      responses:
        "200":
          description: List of connected Cloudflare accounts
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/CloudflareIntegration"
              example:
                success: true
                message: Cloudflare integrations retrieved successfully.
                data:
                  - id: cf_1
                    name: Jane's Cloudflare
                    email: jane@example.com
                    zone_count: 12
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  # ---------------------------------------------------------------------------
  # Servers — Read
  # ---------------------------------------------------------------------------

  /servers:
    get:
      tags: [Servers]
      summary: List Servers
      description: >
        Returns a paginated list of all servers in your team. Supports filtering
        by search term and status. Requires the `read:servers` scope.
      operationId: servers.index
      x-mcp-description: "Each server in the result includes a `dashboard_url` that opens it in the xCloud dashboard."
      security:
        - bearerAuth: []
      parameters:
        - name: search
          in: query
          description: Filter by server name or IP address
          schema:
            type: string
            example: xcloud-prod
        - name: status
          in: query
          description: Filter by server status
          schema:
            type: string
            enum: [active, inactive, provisioning, failed]
            example: active
        - name: page
          in: query
          description: Page number (default 1)
          schema:
            type: integer
            default: 1
            example: 1
        - name: per_page
          in: query
          description: Items per page (default 15, max 100)
          schema:
            type: integer
            default: 15
            maximum: 100
            example: 15
      responses:
        "200":
          description: Paginated list of servers
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PaginatedServers"
              example:
                success: true
                message: Servers retrieved successfully.
                data:
                  data:
                    - uuid: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      name: xcloud
                      status: active
                      ip_address: 203.0.113.42
                      provider: digitalocean
                      stack: lemp
                      php_version: "8.2"
                      region: nyc1
                      created_at: "2024-06-01T09:00:00Z"
                  meta:
                    current_page: 1
                    last_page: 3
                    per_page: 15
                    total: 42
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /servers/{uuid}:
    get:
      tags: [Servers]
      summary: Get Server
      description: >
        Returns full details for a specific server. Requires the `read:servers` scope.
      operationId: servers.show
      x-mcp-description: "The server includes a `dashboard_url` that opens it in the xCloud dashboard."
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      responses:
        "200":
          description: Server detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ServerDetail"
              example:
                success: true
                message: Server retrieved successfully.
                data:
                  uuid: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  name: xcloud
                  status: active
                  ip_address: 203.0.113.42
                  provider: digitalocean
                  stack: lemp
                  php_version: "8.2"
                  ubuntu_version: "24.04"
                  region: nyc1
                  monitoring: true
                  created_at: "2024-06-01T09:00:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /servers/{uuid}/sites:
    get:
      tags: [Servers]
      summary: List Sites on Server
      description: >
        Returns all sites hosted on the specified server. Requires the `read:servers` scope.
      operationId: servers.sites
      x-mcp-description: "Each site in the result includes a `dashboard_url` that opens it in the xCloud dashboard."
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: status
          in: query
          description: Filter by site status
          schema:
            type: string
            enum: [active, inactive, provisioning, failed]
        - name: type
          in: query
          description: Filter by site type
          schema:
            type: string
            enum: [wordpress, custom-php, oneclick, static]
      responses:
        "200":
          description: List of sites on the server
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/SiteSummary"
              example:
                success: true
                message: Sites retrieved successfully.
                data:
                  - uuid: b2c3d4e5-f6a7-8901-bcde-f12345678901
                    name: example.com
                    title: My WordPress Site
                    type: wordpress
                    status: active
                    php_version: "8.2"
                    server_uuid: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    created_at: "2024-06-10T14:30:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

#   /servers/{uuid}/databases:
#     get:
#       tags: [Servers]
#       summary: List Databases
#       description: >
#         Returns all databases on the specified server. Requires the `read:servers` scope.
#       operationId: servers.databases
#       security:
#         - bearerAuth: []
#       parameters:
#         - $ref: "#/components/parameters/ServerUuid"
#       responses:
#         "200":
#           description: List of databases
#           content:
#             application/json:
#               schema:
#                 allOf:
#                   - $ref: "#/components/schemas/SuccessEnvelope"
#                   - type: object
#                     properties:
#                       data:
#                         type: array
#                         items:
#                           $ref: "#/components/schemas/Database"
#               example:
#                 success: true
#                 message: Databases retrieved successfully.
#                 data:
#                   - name: wp_example_com
#                     user: wp_example
#                     server_uuid: a1b2c3d4-e5f6-7890-abcd-ef1234567890
#         "401":
#           $ref: "#/components/responses/Unauthorized"
#         "403":
#           $ref: "#/components/responses/Forbidden"
#         "404":
#           $ref: "#/components/responses/NotFound"
#     post:
#       tags: [Servers]
#       summary: Create Database
#       description: >
#         Creates a new database on the server. This endpoint creates the
#         database only — creating a database user is a separate operation
#         (`POST /servers/{uuid}/database-users`). Requires the `write:servers`
#         scope and the `server:manage-databases` permission. Runs synchronously
#         over SSH.
#       operationId: servers.databases.create
#       security:
#         - bearerAuth: []
#       parameters:
#         - $ref: "#/components/parameters/ServerUuid"
#       requestBody:
#         required: true
#         content:
#           application/json:
#             schema:
#               type: object
#               required: [database_name]
#               properties:
#                 database_name:
#                   type: string
#                   maxLength: 32
#                   description: >
#                     Database name. Letters, numbers, dashes and underscores
#                     only (`alpha_dash`). Must not already exist on the server.
#                   example: analytics_db
#       responses:
#         "201":
#           description: Database created
#           content:
#             application/json:
#               schema: { $ref: "#/components/schemas/SuccessEnvelope" }
#         "401": { $ref: "#/components/responses/Unauthorized" }
#         "403": { $ref: "#/components/responses/Forbidden" }
#         "404": { $ref: "#/components/responses/NotFound" }
#         "422": { $ref: "#/components/responses/ValidationError" }
#         "502":
#           description: The create-database script failed on the server
#           content:
#             application/json:
#               schema: { $ref: "#/components/schemas/ErrorEnvelope" }
#     delete:
#       tags: [Servers]
#       summary: Delete Database
#       description: >
#         Deletes a database from the server. The database name is supplied in
#         the request body. **No dependency guard** — deleting a database that a
#         site uses will break that site. System databases cannot be deleted.
#         Requires the `write:servers` scope and the `server:manage-databases`
#         permission. Runs synchronously over SSH.
#       operationId: servers.databases.destroy
#       security:
#         - bearerAuth: []
#       parameters:
#         - $ref: "#/components/parameters/ServerUuid"
#       requestBody:
#         required: true
#         content:
#           application/json:
#             schema:
#               type: object
#               required: [database_name]
#               properties:
#                 database_name:
#                   type: string
#                   description: Name of an existing (non-system) database.
#                   example: analytics_db
#       responses:
#         "200":
#           description: Database deleted
#           content:
#             application/json:
#               schema: { $ref: "#/components/schemas/SuccessEnvelope" }
#         "401": { $ref: "#/components/responses/Unauthorized" }
#         "403": { $ref: "#/components/responses/Forbidden" }
#         "404": { $ref: "#/components/responses/NotFound" }
#         "422": { $ref: "#/components/responses/ValidationError" }
#         "502":
#           description: The delete-database script failed on the server
#           content:
#             application/json:
#               schema: { $ref: "#/components/schemas/ErrorEnvelope" }
# 
#   /servers/{uuid}/databases/search:
#     get:
#       tags: [Servers]
#       summary: Search Databases
#       description: >
#         Searches databases on the server by partial, case-insensitive name
#         match. Reads xCloud's cached database list (no SSH) and excludes system
#         databases. An empty result returns `200` with an empty array. Requires
#         the `read:servers` scope and the `server:manage-databases` permission.
#       operationId: servers.databases.search
#       security:
#         - bearerAuth: []
#       parameters:
#         - $ref: "#/components/parameters/ServerUuid"
#         - name: name
#           in: query
#           required: true
#           description: Substring to match against database names (case-insensitive).
#           schema:
#             type: string
#             maxLength: 64
#           example: analytics
#       responses:
#         "200":
#           description: Matching databases
#           content:
#             application/json:
#               schema:
#                 allOf:
#                   - $ref: "#/components/schemas/SuccessEnvelope"
#                   - type: object
#                     properties:
#                       data:
#                         type: array
#                         items:
#                           $ref: "#/components/schemas/Database"
#               example:
#                 success: true
#                 message: ""
#                 data:
#                   - name: analytics_db
#                     user: app_user
#                   - name: analytics_archive
#                     user: app_user
#         "401": { $ref: "#/components/responses/Unauthorized" }
#         "403": { $ref: "#/components/responses/Forbidden" }
#         "404": { $ref: "#/components/responses/NotFound" }
#         "422": { $ref: "#/components/responses/ValidationError" }
# 
#   /servers/{uuid}/database-users/search:
#     get:
#       tags: [Servers]
#       summary: Search Database Users
#       description: >
#         Searches database users on the server by partial, case-insensitive
#         username match. Each matched user keeps its database grant list. Reads
#         xCloud's cached database information (no SSH). An empty result returns
#         `200` with an empty array. Requires the `read:servers` scope and the
#         `server:manage-databases` permission.
#       operationId: servers.database-users.search
#       security:
#         - bearerAuth: []
#       parameters:
#         - $ref: "#/components/parameters/ServerUuid"
#         - name: name
#           in: query
#           required: true
#           description: Substring to match against usernames (case-insensitive).
#           schema:
#             type: string
#             maxLength: 64
#           example: app
#       responses:
#         "200":
#           description: Matching database users
#           content:
#             application/json:
#               schema:
#                 allOf:
#                   - $ref: "#/components/schemas/SuccessEnvelope"
#                   - type: object
#                     properties:
#                       data:
#                         type: array
#                         items:
#                           $ref: "#/components/schemas/DatabaseUser"
#               example:
#                 success: true
#                 message: ""
#                 data:
#                   - username: app_user
#                     databases: [analytics_db, logs_db]
#         "401": { $ref: "#/components/responses/Unauthorized" }
#         "403": { $ref: "#/components/responses/Forbidden" }
#         "404": { $ref: "#/components/responses/NotFound" }
#         "422": { $ref: "#/components/responses/ValidationError" }
# 
#   /servers/{uuid}/database-users:
#     get:
#       tags: [Servers]
#       summary: List Database Users
#       description: >
#         Lists database users on the server, each with the databases it can
#         access. Grants reflect xCloud's recorded ownership. Use this to build
#         the full grant set required by the update endpoint. Requires the
#         `read:servers` scope and the `server:manage-databases` permission.
#       operationId: servers.database-users.index
#       security:
#         - bearerAuth: []
#       parameters:
#         - $ref: "#/components/parameters/ServerUuid"
#       responses:
#         "200":
#           description: List of database users
#           content:
#             application/json:
#               schema:
#                 allOf:
#                   - $ref: "#/components/schemas/SuccessEnvelope"
#                   - type: object
#                     properties:
#                       data:
#                         type: array
#                         items:
#                           $ref: "#/components/schemas/DatabaseUser"
#               example:
#                 success: true
#                 message: ""
#                 data:
#                   - username: app_user
#                     databases: [analytics_db, logs_db]
#                   - username: report_user
#                     databases: []
#         "401": { $ref: "#/components/responses/Unauthorized" }
#         "403": { $ref: "#/components/responses/Forbidden" }
#         "404": { $ref: "#/components/responses/NotFound" }
#     post:
#       tags: [Servers]
#       summary: Create Database User
#       description: >
#         Creates a database user and attaches it to one or more existing
#         databases. Requires the `write:servers` scope and the
#         `server:manage-databases` permission. Runs synchronously over SSH.
#       operationId: servers.database-users.create
#       security:
#         - bearerAuth: []
#       parameters:
#         - $ref: "#/components/parameters/ServerUuid"
#       requestBody:
#         required: true
#         content:
#           application/json:
#             schema:
#               type: object
#               required: [username, databases, password]
#               properties:
#                 username:
#                   type: string
#                   maxLength: 32
#                   description: >
#                     Username. Letters, numbers, dashes and underscores only
#                     (`alpha_dash`). Must not already exist on the server.
#                   example: app_user
#                 databases:
#                   type: array
#                   minItems: 1
#                   description: >
#                     Existing databases this user may access. Every entry must
#                     already exist on the server.
#                   items: { type: string }
#                   example: [analytics_db, logs_db]
#                 password:
#                   type: string
#                   maxLength: 64
#                   description: >
#                     May contain letters, numbers and the characters
#                     `_ - ! @ %`.
#                   example: Str0ng_Pass!
#       responses:
#         "201":
#           description: Database user created
#           content:
#             application/json:
#               schema: { $ref: "#/components/schemas/SuccessEnvelope" }
#         "401": { $ref: "#/components/responses/Unauthorized" }
#         "403": { $ref: "#/components/responses/Forbidden" }
#         "404": { $ref: "#/components/responses/NotFound" }
#         "422": { $ref: "#/components/responses/ValidationError" }
#         "502":
#           description: The create-user script failed on the server
#           content:
#             application/json:
#               schema: { $ref: "#/components/schemas/ErrorEnvelope" }
#     put:
#       tags: [Servers]
#       summary: Update Database User
#       description: >
#         Replaces a database user's **complete** grant list and optionally
#         rotates its password. The `databases` array is the full desired set —
#         databases not listed are revoked. Requires the `write:servers` scope
#         and the `server:manage-databases` permission. Runs synchronously over
#         SSH.
# 
# 
#         **WARNING — password rotation has no site cascade.** Changing the
#         password updates only the MySQL user. Sites that use this user (for
#         example, a WordPress `wp-config.php`) are **not** updated and will lose
#         database connectivity until you update their configuration yourself.
#         Omit `password` to change grants only.
#       operationId: servers.database-users.update
#       security:
#         - bearerAuth: []
#       parameters:
#         - $ref: "#/components/parameters/ServerUuid"
#       requestBody:
#         required: true
#         content:
#           application/json:
#             schema:
#               type: object
#               required: [username, databases]
#               properties:
#                 username:
#                   type: string
#                   description: An existing database user on the server.
#                   example: app_user
#                 databases:
#                   type: array
#                   minItems: 1
#                   description: >
#                     Complete desired grant set. Existing databases only;
#                     anything omitted is revoked.
#                   items: { type: string }
#                   example: [analytics_db]
#                 password:
#                   type: string
#                   maxLength: 64
#                   nullable: true
#                   description: >
#                     Optional new password. Omit to keep the current password.
#                     May contain letters, numbers and `_ - ! @ %`. See the
#                     warning above about the lack of a site cascade.
#                   example: Rotated_Pass99
#       responses:
#         "200":
#           description: Database user updated
#           content:
#             application/json:
#               schema: { $ref: "#/components/schemas/SuccessEnvelope" }
#         "401": { $ref: "#/components/responses/Unauthorized" }
#         "403": { $ref: "#/components/responses/Forbidden" }
#         "404": { $ref: "#/components/responses/NotFound" }
#         "422": { $ref: "#/components/responses/ValidationError" }
#         "502":
#           description: The update-user script failed on the server
#           content:
#             application/json:
#               schema: { $ref: "#/components/schemas/ErrorEnvelope" }
#     delete:
#       tags: [Servers]
#       summary: Delete Database User
#       description: >
#         Deletes a database user from the server. The username is supplied in
#         the request body. **No dependency guard** — deleting a user that a site
#         relies on will break that site. Requires the `write:servers` scope and
#         the `server:manage-databases` permission. Runs synchronously over SSH.
#       operationId: servers.database-users.destroy
#       security:
#         - bearerAuth: []
#       parameters:
#         - $ref: "#/components/parameters/ServerUuid"
#       requestBody:
#         required: true
#         content:
#           application/json:
#             schema:
#               type: object
#               required: [username]
#               properties:
#                 username:
#                   type: string
#                   description: An existing database user on the server.
#                   example: app_user
#       responses:
#         "200":
#           description: Database user deleted
#           content:
#             application/json:
#               schema: { $ref: "#/components/schemas/SuccessEnvelope" }
#         "401": { $ref: "#/components/responses/Unauthorized" }
#         "403": { $ref: "#/components/responses/Forbidden" }
#         "404": { $ref: "#/components/responses/NotFound" }
#         "422": { $ref: "#/components/responses/ValidationError" }
#         "502":
#           description: The delete-user script failed on the server
#           content:
#             application/json:
#               schema: { $ref: "#/components/schemas/ErrorEnvelope" }
# 
  /servers/{uuid}/cron-jobs:
    get:
      tags: [Servers]
      summary: List Cron Jobs
      description: >
        Returns all cron jobs configured on the specified server. Requires the `read:servers` scope.
      operationId: servers.cron-jobs
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      responses:
        "200":
          description: List of cron jobs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/CronJob"
              example:
                success: true
                message: Cron jobs retrieved successfully.
                data:
                  - id: 101
                    command: "php /home/xcloud/example.com/artisan schedule:run"
                    frequency: "* * * * *"
                    status: active
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [Servers]
      summary: Create Server Cron Job
      description: >
        Creates a server-level cron job and installs it on the server
        synchronously. The user is validated against the server's actual
        Linux users via SSH. Requires the `write:servers` scope and the
        `server:manage-cron-jobs` permission.
      operationId: servers.cron-jobs.create
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ServerCronJobInput" }
      responses:
        "201":
          description: Cron job created and installed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CronJobDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /servers/{uuid}/cron-jobs/{cronJobUuid}:
    put:
      tags: [Servers]
      summary: Update Server Cron Job
      description: >
        Updates a server-level cron job and reinstalls it on the server.
        Requires the `write:servers` scope and the
        `server:manage-cron-jobs` permission.
      operationId: servers.cron-jobs.update
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: cronJobUuid
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ServerCronJobInput" }
      responses:
        "200":
          description: Cron job updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/CronJobDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }
    delete:
      tags: [Servers]
      summary: Delete Server Cron Job
      description: >
        Removes the cron job from the server (synchronous SSH) and
        deletes the record. Requires the `write:servers` scope.
      operationId: servers.cron-jobs.destroy
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: cronJobUuid
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Cron job deleted, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "502":
          description: Failed to remove cron job from the server
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }

  /servers/{uuid}/cron-jobs/{cronJobUuid}/execute:
    post:
      tags: [Servers]
      summary: Execute Server Cron Job
      description: >
        Triggers the cron command now. The command is launched in the
        background (detached over SSH) and returns 202 immediately, so
        long-running cron jobs do not time out the request. Retrieve the
        result via the cron-job output endpoint once it finishes. Requires
        the `write:servers` scope and the `server:manage-cron-jobs`
        permission.
      operationId: servers.cron-jobs.execute
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: cronJobUuid
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "202": { description: Cron job execution started, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "502":
          description: Cron job failed to launch
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }

  /servers/{uuid}/cron-jobs/{cronJobUuid}/output:
    get:
      tags: [Servers]
      summary: Get Server Cron Job Output
      description: >
        Returns the last captured output for the cron job. Requires the
        `read:servers` scope and the `server:manage-cron-jobs` permission.
      operationId: servers.cron-jobs.output
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: cronJobUuid
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Cron job output
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          output: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /servers/{uuid}/firewall-rules:
    get:
      tags: [Servers]
      summary: List Firewall Rules
      description: >
        Returns every firewall rule configured on the server, with
        per-traffic counts (allow / deny) and the active-rule count.
        Requires the `read:servers` scope.
      operationId: servers.firewallRules
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      responses:
        "200":
          description: List of firewall rules
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FirewallRuleList"
              example:
                success: true
                message: Firewall rules retrieved successfully.
                data:
                  items:
                    - uuid: "55ff66aa-77bb-88cc-99dd-00ee11ff2233"
                      name: ssh-admin
                      ip_address: "203.0.113.10"
                      port: "22"
                      protocol: tcp
                      traffic: allow
                      is_active: true
                      description: Office static IP
                      created_at: "2026-01-10T00:00:00Z"
                      updated_at: "2026-01-10T00:00:00Z"
                  counts:
                    allow: 1
                    deny: 0
                    active: 1
                    total: 1
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [Servers]
      summary: Create Firewall Rule
      description: >
        Creates a new firewall rule on the server. Synchronous —
        runs `InstallFirewall` over SSH inline and returns the new
        row at 201. Idempotent on (name, port, ip_address). Requires
        the `write:servers` scope.
      operationId: servers.firewallRules.create
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFirewallRuleRequest"
            examples:
              allow_ssh_office:
                summary: Allow SSH from an office IP
                value:
                  name: ssh-office
                  port: "22"
                  ip_address: "203.0.113.10"
                  protocol: tcp
                  traffic: allow
              deny_bot_range:
                summary: Block a port range from a known bot subnet
                value:
                  name: block-bots
                  port: "8000:9000"
                  ip_address: "198.51.100.0/24"
                  protocol: tcp
                  traffic: deny
      responses:
        "201":
          description: Firewall rule created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FirewallRule"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Validation failure or InstallFirewall SSH error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /servers/{uuid}/firewall-rules/{firewallRuleUuid}:
    delete:
      tags: [Servers]
      summary: Delete Firewall Rule
      description: >
        Disables the rule on the server (DisableFirewall over SSH)
        then deletes the row. Synchronous. Requires the
        `write:servers` scope.
      operationId: servers.firewallRules.destroy
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: firewallRuleUuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Firewall rule deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /servers/{uuid}/firewall-rules/{firewallRuleUuid}/enable:
    post:
      tags: [Servers]
      summary: Enable Firewall Rule
      description: >
        Marks the rule active and runs `InstallFirewall` over SSH.
        Synchronous. Requires the `write:servers` scope.
      operationId: servers.firewallRules.enable
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: firewallRuleUuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Firewall rule enabled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FirewallRule"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: InstallFirewall SSH error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /servers/{uuid}/firewall-rules/{firewallRuleUuid}/disable:
    post:
      tags: [Servers]
      summary: Disable Firewall Rule
      description: >
        Marks the rule inactive and runs `DisableFirewall` over SSH.
        Synchronous. Requires the `write:servers` scope.
      operationId: servers.firewallRules.disable
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: firewallRuleUuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Firewall rule disabled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FirewallRule"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: DisableFirewall SSH error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /servers/{uuid}/firewall/whitelist-xcloud-ips:
    post:
      tags: [Servers]
      summary: Whitelist xCloud Infrastructure IPs
      description: >
        Adds (or extends) the "xCloud Infrastructure" rule so xCloud
        jumpbox, API, backup, and monitoring IPs can reach the
        server's SSH port. Safe to call repeatedly — already-present
        IPs are not duplicated. Requires the `write:servers` scope.
      operationId: servers.firewall.whitelist-xcloud-ips
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      responses:
        "200":
          description: xCloud IPs whitelisted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          added_count:
                            type: integer
                            example: 3
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Whitelisting failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /servers/{uuid}/firewall/whitelist-caller-ip:
    post:
      tags: [Servers]
      summary: Whitelist Caller IP
      description: >
        Whitelists the API caller's current IP address on the
        server's SSH firewall. Useful before tightening SSH access
        rules so the caller does not lock themselves out. Requires
        the `write:servers` scope.
      operationId: servers.firewall.whitelist-caller-ip
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      responses:
        "200":
          description: Caller IP whitelisted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          caller_ip:
                            type: string
                            example: "203.0.113.42"
                          added_count:
                            type: integer
                            example: 1
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Whitelisting failed or caller IP not detectable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /servers/{uuid}/firewall/ssh-restriction-status:
    get:
      tags: [Servers]
      summary: Get SSH Restriction Status
      description: >
        Returns whether xCloud infrastructure IPs are whitelisted and
        whether the API caller's IP is whitelisted on the server's
        SSH firewall. Use before any rule-tightening operation to
        check for lockout risk. Requires the `read:servers` scope.
      operationId: servers.firewall.ssh-restriction-status
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      responses:
        "200":
          description: SSH restriction status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SshRestrictionStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /servers/{uuid}/fail2ban/banned-ips:
    get:
      tags: [Servers]
      summary: List Banned IP Addresses
      description: >
        Returns IP addresses currently banned by fail2ban on the server.
        Runs synchronously over SSH. Requires the `read:servers` scope
        and the `server:manage-fail2ban` permission.
      operationId: servers.fail2ban.banned-ips
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      responses:
        "200":
          description: Banned IP addresses
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          banned_ips:
                            type: array
                            items: { type: string, example: "1.2.3.4" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          description: fail2ban fetch failed on the server
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    post:
      tags: [Servers]
      summary: Ban IP Addresses
      description: >
        Bans one or more IP addresses via fail2ban. Runs synchronously
        over SSH. Up to 100 IPs per call. Requires the `write:servers`
        scope and the `server:manage-fail2ban` permission.
      operationId: servers.fail2ban.ban
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ip_addresses]
              properties:
                ip_addresses:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: string
                    format: ipv4
                    example: "1.2.3.4"
      responses:
        "201":
          description: IP addresses banned
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          banned_ips:
                            type: array
                            items: { type: string, example: "1.2.3.4" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "502":
          description: fail2ban ban command failed on the server
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }

  /servers/{uuid}/fail2ban/banned-ips/{ip}:
    delete:
      tags: [Servers]
      summary: Unban IP Address
      description: >
        Unbans a single IP address via fail2ban. Runs synchronously over
        SSH. Requires the `write:servers` scope and the
        `server:manage-fail2ban` permission.
      operationId: servers.fail2ban.unban
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: ip
          in: path
          required: true
          description: IPv4 or IPv6 address to unban
          schema: { type: string, example: "1.2.3.4" }
      responses:
        "200":
          description: IP address unbanned
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SuccessEnvelope" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Invalid IP address
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
        "502":
          description: fail2ban unban command failed on the server
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }

  /servers/{uuid}/supervisor-processes:
    get:
      tags: [Servers]
      summary: List Supervisor Processes
      description: >
        Returns supervisor (process-manager) entries configured on the
        server, including processes owned by sites on that server.
        Paginated. Requires the `read:servers` scope.
      operationId: servers.supervisorProcesses
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: page
          in: query
          description: Page number (default 1)
          schema:
            type: integer
            default: 1
            example: 1
        - name: per_page
          in: query
          description: Items per page (default 15, max 100)
          schema:
            type: integer
            default: 15
            maximum: 100
            example: 15
      responses:
        "200":
          description: Paginated list of supervisor processes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SupervisorProcessList"
              example:
                success: true
                message: Supervisor processes retrieved successfully.
                data:
                  items:
                    - uuid: "ab12cd34-5678-90ef-aabb-ccddeeff0011"
                      command: "php /var/www/example.com/artisan queue:work"
                      directory: "/var/www/example.com"
                      user: "xcloud_example"
                      numprocs: 2
                      startsecs: 1
                      stopsecs: 10
                      stopsignal: "TERM"
                      status: running
                      site_uuid: "11aa22bb-33cc-44dd-55ee-66ff77aa88bb"
                      site_name: example.com
                      created_at: "2026-02-10T00:00:00Z"
                      updated_at: "2026-04-01T10:00:00Z"
                  pagination:
                    total: 1
                    per_page: 15
                    current_page: 1
                    last_page: 1
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /servers/{uuid}/snapshots:
    get:
      tags: [Servers]
      summary: List Site Snapshots on a Server
      description: >
        Returns the **site** snapshots taken from sites hosted on this server
        (aggregated across every source site on the server). These are
        site-level backups/snapshots — this is **not** a server-image or
        server-level snapshot. Each entry carries the originating site's UUID
        and name so callers can correlate back to the site. SSH keypair
        references, raw meta, and logs are stripped. The `public_url_token` is
        included only for public snapshots. Requires the `read:servers` scope.
      operationId: servers.snapshots
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: page
          in: query
          description: Page number (default 1)
          schema:
            type: integer
            default: 1
            example: 1
        - name: per_page
          in: query
          description: Items per page (default 15, max 100)
          schema:
            type: integer
            default: 15
            maximum: 100
            example: 15
      responses:
        "200":
          description: Paginated list of server snapshots
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ServerSnapshotList"
              example:
                success: true
                message: Snapshots retrieved successfully.
                data:
                  items:
                    - uuid: "9f8e7d6c-5b4a-3210-fedc-ba9876543210"
                      name: pre-deploy
                      description: Snapshot before v2 release
                      type: private
                      status: ready
                      size_bytes: 524288000
                      formatted_size: "500 MB"
                      public_url_token: null
                      source_site_uuid: "11aa22bb-33cc-44dd-55ee-66ff77aa88bb"
                      source_site_name: example.com
                      created_at: "2026-04-01T10:00:00Z"
                      updated_at: "2026-04-01T10:15:00Z"
                  pagination:
                    total: 1
                    per_page: 15
                    current_page: 1
                    last_page: 1
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /servers/{uuid}/monitoring/history:
    get:
      tags: [Servers]
      summary: Get Server Monitoring History
      description: >
        Returns a time-series of server-wide CPU, RAM, and disk usage
        sampled from ServerMonitor snapshots. Supports `range=24h|7d`
        (default 7d). Requires Pro plan — returns 403 on free plans.
        Requires the `read:servers` scope.
      operationId: servers.monitoringHistory
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: range
          in: query
          description: Sampling window. 24h returns the last 24 hours; 7d returns the last week (default).
          schema:
            type: string
            enum: [24h, 7d]
            default: 7d
            example: 7d
      responses:
        "200":
          description: Server monitoring history
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ServerMonitoringHistory"
              example:
                success: true
                message: Monitoring history retrieved successfully.
                data:
                  server:
                    uuid: "55ff66aa-77bb-88cc-99dd-00ee11ff2233"
                    name: web-1
                  range: 7d
                  samples:
                    - cpu_usage: 12.4
                      ram_usage: 68.1
                      disk_usage: 34.7
                      time_at: "10:00 AM"
                      sampled_at: "2026-04-01T10:00:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Server is on a free plan or token lacks the required scope/policy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"

  /servers/{uuid}/monitoring:
    get:
      tags: [Servers]
      summary: Get Server Monitoring Stats
      description: >
        Returns the latest CPU, memory, and disk usage statistics for the server.
        Requires the `read:servers` scope.
      operationId: servers.monitoring
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      responses:
        "200":
          description: Server monitoring stats
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ServerMonitoring"
              example:
                success: true
                message: Monitoring stats retrieved successfully.
                data:
                  cpu_usage: 12.4
                  memory_usage: 68.1
                  disk_usage: 34.7
                  uptime: "15 days, 3:42:10"
                  recorded_at: "2025-03-14T16:00:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /servers/{uuid}/tasks:
    get:
      tags: [Servers]
      summary: Get Recent Server Tasks
      description: >
        Returns the recent task/operation history for the server (e.g. provisioning,
        software installs, reboots). Requires the `read:servers` scope.
      operationId: servers.tasks
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      responses:
        "200":
          description: Server task history
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ServerTask"
              example:
                success: true
                message: Tasks retrieved successfully.
                data:
                  - id: 9001
                    type: reboot
                    status: completed
                    started_at: "2025-03-14T10:00:00Z"
                    completed_at: "2025-03-14T10:02:15Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /servers/{uuid}/php-versions:
    get:
      tags: [Servers]
      summary: List PHP Versions
      description: >
        Returns all PHP versions installed on the specified server, including which
        is set as the default. Requires the `read:servers` scope.
      operationId: servers.php-versions
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      responses:
        "200":
          description: List of installed PHP versions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PhpVersion"
              example:
                success: true
                message: PHP versions retrieved successfully.
                data:
                  - version: "8.2"
                    is_default: true
                  - version: "8.1"
                    is_default: false
                  - version: "7.4"
                    is_default: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [Servers]
      summary: Install PHP Version
      description: >
        Installs a PHP version on the server. Asynchronous — dispatches
        to the background queue. Poll `/php-versions/available` for the
        final status. Requires the `write:servers` scope and the
        `server:manage-php` permission.
      operationId: servers.php-versions.install
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [php_version]
              properties:
                php_version: { type: string, example: "8.3" }
      responses:
        "202":
          description: PHP install dispatched
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/PhpInstallStatus" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }
    delete:
      tags: [Servers]
      summary: Uninstall PHP Version
      description: >
        Uninstalls a PHP version. Asynchronous — dispatches to the
        background queue. Requires the `write:servers` scope.
      operationId: servers.php-versions.uninstall
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [php_version]
              properties:
                php_version: { type: string, example: "8.3" }
      responses:
        "202":
          description: PHP uninstall dispatched
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          version: { type: string }
                          status: { type: string, example: uninstalling }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /servers/{uuid}/php-versions/available:
    get:
      tags: [Servers]
      summary: List Available PHP Versions
      description: >
        Returns every PHP version available on the server's OS, with
        install status, default flag, opcache state, and patch info.
        Requires the `read:servers` scope.
      operationId: servers.php-versions.available
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      responses:
        "200":
          description: Available PHP versions with install state
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/PhpVersionAvailable" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /servers/{uuid}/php-versions/patch-info:
    get:
      tags: [Servers]
      summary: Get PHP Patch Info
      description: >
        Synchronously refreshes patch availability for installed PHP
        versions (runs UpdatePackages + CheckPatchVersions via SSH) and
        returns current patch metadata. Requires the `read:servers` scope.
      operationId: servers.php-versions.patch-info
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      responses:
        "200":
          description: PHP patch info
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          last_checked_at: { type: string, format: date-time, nullable: true }
                          php_versions:
                            type: array
                            items:
                              type: object
                              properties:
                                version: { type: string }
                                status: { type: string }
                                current_version: { type: string, nullable: true }
                                patch_available: { type: string, nullable: true }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /servers/{uuid}/php-versions/{version}/default:
    post:
      tags: [Servers]
      summary: Set Default PHP Version
      description: >
        Set the given PHP version as the server's default. If already
        installed flips the OS default synchronously (returns 200);
        otherwise dispatches an install (returns 202).
      operationId: servers.php-versions.default
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: version
          in: path
          required: true
          schema: { type: string, example: "8.3", pattern: '^[0-9]+\.[0-9]+$' }
      responses:
        "200":
          description: Default PHP version updated (already installed)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          version: { type: string }
                          is_default: { type: boolean }
                          dispatched: { type: boolean, example: false }
        "202":
          description: PHP install dispatched as new default
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          version: { type: string }
                          is_default: { type: boolean }
                          dispatched: { type: boolean, example: true }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422":
          description: Invalid PHP version
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }

  /servers/{uuid}/php-versions/{version}/patch:
    post:
      tags: [Servers]
      summary: Patch PHP Version
      description: >
        Apply patch (minor-version bump) for an installed PHP version.
        Asynchronous — dispatches PatchPHPVersion to the background queue.
      operationId: servers.php-versions.patch
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: version
          in: path
          required: true
          schema: { type: string, example: "8.3", pattern: '^[0-9]+\.[0-9]+$' }
      responses:
        "202":
          description: PHP patch dispatched
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          version: { type: string }
                          status: { type: string, example: patching }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422":
          description: PHP version not installed or invalid
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }

  /servers/{uuid}/php-versions/{version}/opcache:
    post:
      tags: [Servers]
      summary: Toggle OPCache for PHP Version
      description: >
        Enable or disable OPCache for a PHP version. Synchronous over SSH.
        Requires the `write:servers` scope and the `server:manage-php`
        permission.
      operationId: servers.php-versions.opcache
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: version
          in: path
          required: true
          schema: { type: string, example: "8.3", pattern: '^[0-9]+\.[0-9]+$' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled: { type: boolean }
      responses:
        "200":
          description: OPCache state updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          version: { type: string }
                          opcache_enabled: { type: boolean }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "502":
          description: Failed to update OPCache state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }

  # ---------------------------------------------------------------------------
  # Servers — Write
  # ---------------------------------------------------------------------------

  /servers/{uuid}/reboot:
    post:
      tags: [Servers]
      summary: Reboot Server
      description: >
        Initiates a graceful reboot of the specified server. This is an asynchronous
        operation — the server will briefly go offline during the reboot process.
        Requires the `write:servers` scope.
      operationId: servers.reboot
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      responses:
        "202":
          description: Reboot initiated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
              example:
                success: true
                message: Server reboot initiated.
                data: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /servers/{uuid}/services:
    get:
      tags: [Servers]
      summary: List Server Services
      description: >
        Returns the services managed on the server (Nginx, OpenLiteSpeed,
        PHP, Redis, Docker, Supervisor, MySQL/MariaDB, etc.) with their
        current status, version, and whether each can be restarted via the
        API. The available services depend on the server's stack. Requires
        the `read:servers` scope.
      operationId: servers.services
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      responses:
        "200":
          description: List of server services
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/components/schemas/ServerService"
                          count:
                            type: integer
                            example: 6
              example:
                success: true
                message: Services retrieved successfully.
                data:
                  items:
                    - name: nginx
                      label: NGINX
                      status: active
                      version: null
                      is_required: true
                      auto_healing: true
                      can_restart: true
                    - name: php
                      label: PHP 8.2
                      status: active
                      version: "8.2"
                      is_required: false
                      auto_healing: false
                      can_restart: true
                  count: 2
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /servers/{uuid}/services/restart:
    post:
      tags: [Servers]
      summary: Restart a Server Service
      description: >
        Restarts a single server service, addressed by name in the request
        body (e.g. `nginx`, `lsws`, `php`, `redis`, `docker`, `supervisor`,
        `mysql`, `mariadb`). For PHP servers running multiple versions,
        supply `version` to disambiguate. The restart runs synchronously over
        SSH. Node.js is a runtime and cannot be restarted; PHP cannot be
        restarted on OpenLiteSpeed servers (they use LSAPI). Requires the
        `write:servers` scope.
      operationId: servers.services.restart
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [service]
              properties:
                service:
                  type: string
                  enum:
                    [mysql, mariadb, postgresql, nginx, redis, php, ssh, supervisor, docker, lsws, nodejs, openclaw, paperclip, hermes]
                  description: Service name to restart.
                  example: nginx
                version:
                  type: string
                  nullable: true
                  description: Optional version selector (PHP services only).
                  example: "8.2"
      responses:
        "200":
          description: Service restarted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
              example:
                success: true
                message: NGINX restarted successfully
                data: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: >
            Server not found, or the requested service is not present on the
            server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: >
            Server not connected, the service cannot be restarted in its
            current state, or validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /servers/{uuid}/services/disable:
    post:
      tags: [Servers]
      summary: Disable a Server Service
      description: >
        Stops (disables) a single server service, addressed by name in the
        request body (e.g. `nginx`, `mysql`, `redis`, `php`, `docker`). For PHP
        servers running multiple versions, supply `version` to disambiguate.
        Only a currently-running (active) service can be disabled, mirroring the
        dashboard. Runs synchronously over SSH. Requires the `write:servers`
        scope.
      operationId: servers.services.disable
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [service]
              properties:
                service:
                  type: string
                  enum:
                    [mysql, mariadb, postgresql, nginx, redis, php, ssh, supervisor, docker, lsws, nodejs, openclaw, paperclip, hermes]
                  description: Service name to disable.
                  example: redis
                version:
                  type: string
                  nullable: true
                  description: Optional version selector (PHP services only).
                  example: "8.2"
      responses:
        "200":
          description: Service disabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
              example:
                success: true
                message: Redis disabled successfully
                data: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: >
            Server not found, or the requested service is not present on the
            server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: >
            Server not connected, the service is not currently active (cannot
            be disabled), or validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /servers/{uuid}/sudo-users:
    get:
      tags: [Servers]
      summary: List Sudo Users
      description: >
        Returns a paginated list of all sudo users on the specified server.
        Requires the `read:servers` scope.
      operationId: servers.sudoUsers.index
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - name: page
          in: query
          description: Page number (default 1)
          schema:
            type: integer
            default: 1
            example: 1
        - name: per_page
          in: query
          description: Items per page (default 15, max 100)
          schema:
            type: integer
            default: 15
            maximum: 100
            example: 15
      responses:
        "200":
          description: Paginated list of sudo users
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PaginatedSudoUsers"
              example:
                success: true
                message: Sudo users retrieved successfully.
                data:
                  data:
                    - uuid: c3d4e5f6-a7b8-9012-cdef-234567890123
                      username: deploy
                      status: active
                      is_temporary: false
                      expires_at: null
                      created_at: "2025-06-01T12:00:00Z"
                    - uuid: d4e5f6a7-b8c9-0123-defa-345678901234
                      username: auditor
                      status: active
                      is_temporary: true
                      expires_at: "2025-07-01T00:00:00Z"
                      created_at: "2025-06-15T08:30:00Z"
                  meta:
                    current_page: 1
                    last_page: 1
                    per_page: 15
                    total: 2
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

    post:
      tags: [Servers]
      summary: Create or Update Sudo User
      description: >
        Creates a new sudo user on the specified server, or updates an existing one
        if a user with the same username already exists (idempotent). This is an
        asynchronous operation — the user will be in `updating` status until ready.
        Requires the `write:servers` scope.
      operationId: servers.sudoUsers.store
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSudoUserRequest"
            examples:
              permanent_user:
                summary: Permanent sudo user
                value:
                  username: deploy
                  password: "S3cur3P@ss!"
                  ssh_public_keys:
                    - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIExample deploy@workstation"
                  is_temporary: false
              temporary_user:
                summary: Temporary sudo user
                value:
                  username: auditor
                  password: "Aud1tP@ss!"
                  ssh_public_keys:
                    - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQExample auditor@laptop"
                  is_temporary: true
      responses:
        "201":
          description: Sudo user created or updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SudoUser"
              example:
                success: true
                message: Sudo user created successfully.
                data:
                  uuid: c3d4e5f6-a7b8-9012-cdef-234567890123
                  username: deploy
                  status: updating
                  is_temporary: false
                  expires_at: null
                  created_at: "2025-06-01T12:00:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"

  /servers/{uuid}/sudo-users/{sudo_user_uuid}:
    delete:
      tags: [Servers]
      summary: Delete Sudo User
      description: >
        Deletes the specified sudo user from the server. This is an asynchronous
        operation — the user will be in `deleting` status until fully removed.
        Requires the `write:servers` scope.
      operationId: servers.sudoUsers.destroy
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
        - $ref: "#/components/parameters/SudoUserUuid"
      responses:
        "200":
          description: Sudo user deletion initiated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
              example:
                success: true
                message: Sudo user deletion initiated.
                data: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /servers/{uuid}/sites/wordpress:
    post:
      tags: [Servers]
      summary: Create WordPress Site
      description: >
        Provisions a new WordPress site on the specified server. This is an asynchronous
        operation — the site will be in `provisioning` status until ready.

        **Notes:**
        - `domain` is required when `mode` is `live`; omit for `demo` sites (a subdomain is auto-generated)
        - `ssl.provider` is required for `live` mode
        - If `multisite.enabled` is `true`, `multisite.type` defaults to `subdirectory`
        - Credentials (admin password, database password) are returned in `auto_generated` only once

        Requires the `write:servers` scope.
      operationId: servers.sites.wordpress.create
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ServerUuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWordPressSiteRequest"
            examples:
              live_site:
                summary: Production WordPress site
                value:
                  mode: live
                  domain: example.com
                  title: My Awesome Site
                  php_version: "8.2"
                  ssl:
                    provider: letsencrypt
                  wordpress_version: "6.7"
                  cache:
                    full_page: true
                    object_cache: true
                  cloudflare: true
                  tags: ["production", "client-site"]
              demo_site:
                summary: Demo / staging site
                value:
                  mode: demo
                  title: Test Site
                  php_version: "8.2"
                  ssl:
                    provider: xcloud
                  cache:
                    full_page: false
              multisite:
                summary: WordPress multisite (subdomain)
                value:
                  mode: live
                  domain: network.example.com
                  title: My Network
                  php_version: "8.2"
                  ssl:
                    provider: letsencrypt
                  multisite:
                    enabled: true
                    type: subdomain
      responses:
        "202":
          description: WordPress site provisioning started
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CreatedWordPressSite"
              example:
                success: true
                message: WordPress site provisioning started.
                data:
                  uuid: b2c3d4e5-f6a7-8901-bcde-f12345678901
                  domain: example.com
                  title: My Awesome Site
                  type: wordpress
                  mode: live
                  status: provisioning
                  server_uuid: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  auto_generated:
                    admin_password: "Xc!9pMnK2v#rT"
                    database_password: "Db#7qWnZ4xA!p"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Business rule violation (e.g. domain already in use)
          content:
            application/json:
              example:
                success: false
                message: The domain example.com is already in use on this server.
                data: null

  /servers/{uuid}/sites/git:
    post:
      tags: [Servers]
      summary: Deploy Site from Git
      description: >
[...]
